{
	"presets": [
		[
			"@babel/preset-env",
			{
				"targets": [
					"> 1%",
					"last 5 versions",
					"ie >= 11"
				]
			}
		],
		"@babel/preset-typescript"
	],
	"plugins": [
		[
			"@babel/plugin-transform-typescript"
		],
		[
			"@babel/plugin-transform-async-to-generator"
		],
		[
			"@babel/plugin-transform-arrow-functions",
			{
				"spec": true
			}
		],
		[
			"@babel/plugin-transform-block-scoping"
		],
		[
			"@babel/plugin-proposal-decorators",
			{
				"decoratorsBeforeExport": true
			}
		],
		[
			"@babel/plugin-proposal-class-properties"
		],
		[
			"@babel/plugin-transform-classes"
		],
		[
			"@babel/plugin-transform-template-literals"
		],
		[
			"@babel/plugin-syntax-dynamic-import"
		]
	]
}
