@import './reset.css';

:host {
	height: 64px;
	z-index: 1000;
}

header {
	-webkit-app-region: drag;
	user-select: none;
	z-index: 1000;
	min-height: 56px;
	box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
	color: #f5f5f5;
	background-color: #494440;
	background-image: linear-gradient(#000,#494440);
	padding: 6px 12px;
	display: flex;
	align-items: center;
	height: 100%;
}

header mwc-icon-button {
	-webkit-app-region: no-drag;
}

h1 {
	flex-grow: 1;
	margin: 0;
	font-size: 24px;
}

img.logo {
	margin: 12px;
}

div.menu {
	border-radius: 50%;
	height: 50px;
	width: 50px;
	padding: 8px;
	will-change: background-color;
	transition: background-color .2s cubic-bezier(.4,0,.2,1);
}

div.menu:hover {
	background-color: rgba(158,158,158,.2);
}

div.menu img {
	margin: 0;
}
