@import './reset.css';

:host {
	height: 36px;
}

:host([raised]) {
	--mdc-theme-primary: #e8e8e8;
	--mdc-theme-on-primary: #494440;
}

:host([small]) button {
    min-width: unset;
    padding: 4px;
}

:host([small]) button span {
    margin: 0;
}

:host([small]) button slot {
    display: none;
}

:host([small]) button slot[name=icon],
:host([small]) button slot[name=trailingIcon] {
    display: contents;
}

button.mdc-button {
	height: 100%;
}
