@import './reset.css';

:host {
	overflow: hidden;
	flex-grow: 1;
	display: table-row;
	vertical-align: middle;
	border-bottom: 1px solid rgba(0,0,0,0.12);
	will-change: background-color;
	transition: background-color .2s cubic-bezier(.4,0,.2,1);
}

:host(:hover) {
	background-color: rgba(158,158,158,.2);
}

th, td {
	white-space: nowrap;
	padding: 15px 10px;
}

td.center {
	text-align: center;
}

td.right {
	text-align: right;
}
