@import './reset.css';

:host {
	overflow: hidden;
	flex-grow: 1;
	display: table-row;
	vertical-align: middle;
	will-change: background-color;
	transition: background-color .2s cubic-bezier(.4,0,.2,1);
	height: 46px;
}

:host(:hover) {
	background-color: rgba(158,158,158,.2);
}

td {
	white-space: nowrap;
	padding: 0 5px;
}

td.center {
	text-align: center;
}

td.right {
	text-align: right;
}
