@import './reset.css';

:host {
	overflow: visible;
	flex: 1 1 100%;
	display: flex;
	flex-direction: column;
}

div {
	overflow: auto;
	height: 100%;
	width: 100%;
	flex-grow: 1;
    display: flex;
    flex-basis: 0;
}

footer {
	display: flex;
}

span.footer {
	padding: 5px;
	text-align: right;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

thead {
	color: rgba(0,0,0,0.6);
}



th {
	white-space: nowrap;
	padding: 15px 10px;
	text-align: left;
}

th.with-icon{
	display: inline-flex;
    justify-content: left;
    align-items: center;
    text-align: left;
}

header {
	height: 40px;
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

header monitor-text-input {
	height: 100%;
	flex-basis: 500px;
/*
	width: 600px;
*/
}


:host(.large) monitor-user-list-row {
	height: 48px;
}

:host(.compact) monitor-user-list-row {
	height: 28px;
}

