@import './monitor-dialog.css';

dialog {
	width: 500px;
}

slot {
	display: flex;
	flex-wrap: wrap;
}

::slotted(monitor-text-input) {
	display: flex;
	margin: 10px;
	flex: 1 100%;
}

::slotted(label) {
	white-space: nowrap;
	box-sizing: border-box;
	display: flex;
	margin: 10px;
	align-items: center;
	flex: 1 1 100%;
}
