@import './reset.css';

:host([raised]) {
	--mdc-theme-primary: #e8e8e8;
	--mdc-theme-on-primary: #494440;
}

:host([small]) button {
    min-width: unset;
    padding: 4px;
}

:host([small]) button span {
    margin: 0;
}

:host([small]) button slot {
    display: none;
}
