@import './monitor-dialog.css';

slot {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

section {
	flex: 1 1 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 60px;
}

section monitor-text-input {
	display: flex;
	margin: 10px;
	width: 80px;
	height: 24px;
}

section select {
	padding: 10px;
}

section label {
	flex: 1 1 100%;
}

section mwc-switch {
	margin-right: 10px;
	--mdc-theme-secondary: #EA9B3E;
}
