@import './reset.css';

:host {
	overflow: hidden;
	flex: 1 1 100%;
	display: flex;
}

div {
	overflow: auto;
	height: 100%;
	width: 100%;
}


table {
	border-collapse: collapse;
	border-spacing: 0;
}

thead {
	/*
	background-color: var(--mdc-theme-primary);
	color: white;
*/

	color: rgba(0,0,0,0.6);
}



th, td {
	white-space: nowrap;
	padding: 15px 10px;
}

td.center {
	text-align: center;
}

td.right {
	text-align: right;
}

tr {
	border-bottom: 1px solid rgba(0,0,0,0.12);
}

tbody tr {
	will-change: background-color;
	transition: background-color .2s cubic-bezier(.4,0,.2,1);
}

tbody tr:hover {
	background-color: rgba(158,158,158,.2);
}

header {
	display: flex;
	align-items: center;
}
