@import './reset.css';

div.visible {
	opacity: 1;
}

div {
	background-color: #e74c3c;
	color: white;
	display: block;
	align-content: center;
	will-change: opacity;
	transition: opacity 0.7s ease-in;
	width: 100%;
	margin: auto;
	left: 0px;
	position: absolute;
	bottom: 75%;
	height: 25px;
	opacity: 0;
	font-size: 1.0em;
	text-align: center;
}

.center {
	margin: auto;
	width: 50%;
	border: 3px solid green;
	padding: 10px;
	text-align: center;
  }

