@import './monitor-dialog.css';

dialog {
	width: 400px;
}

main {
	display: flex;
	flex-wrap: wrap;
}

main monitor-text-input {
	display: flex;
    margin: 10px;
}

main monitor-text-input#name,
main monitor-text-input#build {
    flex: 1 100%;
}

main monitor-text-input#address {
    flex: 1 auto;
}

main monitor-text-input#port {
	flex: 1 30%;
}
