@import './reset.css';

li {
	cursor: pointer;
	user-select: none;
	display: flex;
	position: relative;
	align-items: center;
	justify-content: flex-start;
	height: 48px;
	padding: 0 16px;
	overflow: hidden;
	list-style-type: none;
}

li:hover {
	background-color: #e1e1e1;
}

li.separator {
	border-bottom: 1px solid rgba(0,0,0,.12);
}
