@import './reset.css';

:host {
	overflow: hidden;
	flex-grow: 1;
	display: flex;
}

div {
	overflow: auto;
	padding: 30px;
	height: 100%;
	width: 100%;
}

.iddle .error-message, .iddle .connecting-message, .iddle table  {
	display: none;
}


.connecting .error-message, .connecting table  {
	display: none;
}

.connected .error-message, .connected .connecting-message  {
	display: none;
}

.error .connecting-message, .error table {
	display: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

thead {
	color: rgba(0,0,0,0.6);
}

th, td {
	white-space: nowrap;
	padding: 15px 10px;
}

td.center {
	text-align: center;
}

td.right {
	text-align: right;
}

tr {
	border-bottom: 1px solid rgba(0,0,0,0.12);
}
